[submodule "docs/doxygen-awesome"]
	path = docs/doxygen-awesome
	url = https://github.com/coin3d/doxygen-awesome-css.git
	branch = coin3d
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/osmesa"]
	path = external/osmesa
	url = https://github.com/starseeker/osmesa
